In [2]:
import pandas
import implicit

import scipy as sp
import numpy as np
import turicreate as tc

In [3]:
df = pandas.read_csv("user_item_test.csv")
df

    user_id  item_id    user       item  rating  rating2
0         0        0    amit   seahawks       3        1
1         0        1    amit  sf giants       3        1
2         0        2    amit   warriors       3        1
3         1        3  aryana   patriots       3        1
4         1        2  aryana   warriors       5        1
5         2        4   mital   steelers       5        1
6         2        5   mital   penguins       4        1
7         2        6   mital    pirates       3        1
8         2        7   mital    celtics       1        1
9         3        4  kaiden   steelers       5        1
10        4        2   anika   warriors       5        1

In [20]:
# just the matrix
df_pivot = df.pivot_table(values='rating', index='item', columns='user', aggfunc=len, fill_value=0)
item_user_data = df_pivot.values

sdata = sp.sparse.csr_matrix(item_user_data)
print (sdata)

  (0, 4)	1
  (1, 2)	1
  (2, 4)	1
  (3, 4)	1
  (4, 0)	1
  (5, 0)	1
  (6, 3)	1
  (6, 4)	1
  (7, 0)	1
  (7, 1)	1
  (7, 2)	1

In [5]:
df.pivot_table(values='rating', index='item', columns='user', aggfunc=len, fill_value=0)

user       amit  anika  aryana  kaiden  mital
item
celtics       0      0       0       0      1
patriots      0      0       1       0      0
penguins      0      0       0       0      1
pirates       0      0       0       0      1
seahawks      1      0       0       0      0
sf giants     1      0       0       0      0
steelers      0      0       0       1      1
warriors      1      1       1       0      0

## try implicit package

In [21]:
# initialize a model
model = implicit.als.AlternatingLeastSquares(factors=50)

# train the model on a sparse matrix of item/user/confidence weights
model.fit(sdata)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [22]:
def recs(recommendations, df, userid):
    user = df.columns[userid]
    
    print("recomemndations for %d: %s" % ( userid, user)) 
    for rr in recommendations:
        item = df.index[rr[0]]
        score = rr[1]
        print (item, score )

In [25]:
userid = 1


# exclude what you already like
col = df_pivot.columns[userid]
print(userid, df_pivot.columns[userid])
user_filter  = (df_pivot[col] > 0)
prev_items = df_pivot[user_filter].index
df_items = pandas.DataFrame(df_pivot.index)

item_filter = df_items.isin(prev_items)
exclude_items = df_items[item_filter].dropna().index.values
list(exclude_items)

1 anika

[7]

In [26]:

# recommend items for a user
user_items = sdata.T

recommendations = model.recommend(userid, user_items, filter_items=list(exclude_items))
print(recommendations)
recs(recommendations, df_pivot, userid)

[(1, 0.0039256737), (4, 0.0027464628), (5, 0.0027464628), (6, 0.00011751801), (3, 5.4366887e-05), (2, 5.4344535e-05)]
recomemndations for 1: anika
patriots 0.0039256737
seahawks 0.0027464628
sf giants 0.0027464628
steelers 0.00011751801
pirates 5.4366887e-05
penguins 5.4344535e-05

In [10]:
recommendations

[(2, 0.0016410723),
 (3, 0.0016401969),
 (1, 0.00019751489),
 (4, 2.7555972e-05),
 (5, 2.7529895e-05),
 (7, -3.0100346e-06)]

In [11]:
itemid = recommendations[0][0]
?model.explain(userid, user_items, itemid)

Object `model.explain(userid, user_items, itemid)` not found.

## try turi/graphlab package

https://turi.com/

In [27]:
sf = tc.SFrame(df)
sf

Columns:
	user_id	int
	item_id	int
	user	str
	item	str
	rating	int
	rating2	int

Rows: 11

Data:
+---------+---------+--------+-----------+--------+---------+
| user_id | item_id |  user  |    item   | rating | rating2 |
+---------+---------+--------+-----------+--------+---------+
|    0    |    0    |  amit  |  seahawks |   3    |    1    |
|    0    |    1    |  amit  | sf giants |   3    |    1    |
|    0    |    2    |  amit  |  warriors |   3    |    1    |
|    1    |    3    | aryana |  patriots |   3    |    1    |
|    1    |    2    | aryana |  warriors |   5    |    1    |
|    2    |    4    | mital  |  steelers |   5    |    1    |
|    2    |    5    | mital  |  penguins |   4    |    1    |
|    2    |    6    | mital  |  pirates  |   3    |    1    |
|    2    |    7    | mital  |  celtics  |   1    |    1    |
|    3    |    4    | kaiden |  steelers |   5    |    1    |
+---------+---------+--------+-----------+--------+---------+
[11 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
?tc.recommender.create

In [28]:
sf = tc.SFrame(df)
model = tc.recommender.create(sf, 'user_id', 'item_id') #, "rating")

Warning: Ignoring columns user, item, rating, rating2;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 11 observations with 5 users and 8 items.

    Data prepared in: 0.004576s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 783us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 1.313ms                             | 12.5             | 1               |

| 3.623ms                             | 100              | 8               |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.00598s

In [29]:
model.recommend([1])

Columns:
	user_id	int
	item_id	int
	score	float
	rank	int

Rows: 6

Data:
+---------+---------+--------------------+------+
| user_id | item_id |       score        | rank |
+---------+---------+--------------------+------+
|    1    |    0    | 0.1666666567325592 |  1   |
|    1    |    1    | 0.1666666567325592 |  2   |
|    1    |    4    |        0.0         |  3   |
|    1    |    5    |        0.0         |  4   |
|    1    |    6    |        0.0         |  5   |
|    1    |    7    |        0.0         |  6   |
+---------+---------+--------------------+------+
[6 rows x 4 columns]

In [30]:
model.recommend([3]).join(sf, on=['item_id']).sort('score')

Columns:
	user_id	int
	item_id	int
	score	float
	rank	int
	user_id.1	int
	user	str
	item	str
	rating	int
	rating2	int

Rows: 9

Data:
+---------+---------+-------+------+-----------+--------+-----------+--------+---------+
| user_id | item_id | score | rank | user_id.1 |  user  |    item   | rating | rating2 |
+---------+---------+-------+------+-----------+--------+-----------+--------+---------+
|    3    |    0    |  0.0  |  4   |     0     |  amit  |  seahawks |   3    |    1    |
|    3    |    1    |  0.0  |  6   |     0     |  amit  | sf giants |   3    |    1    |
|    3    |    2    |  0.0  |  5   |     0     |  amit  |  warriors |   3    |    1    |
|    3    |    3    |  0.0  |  7   |     1     | aryana |  patriots |   3    |    1    |
|    3    |    2    |  0.0  |  5   |     1     | aryana |  warriors |   5    |    1    |
|    3    |    2    |  0.0  |  5   |     4     | anika  |  warriors |   5    |    1    |
|    3    |    6    |  0.5  |  2   |     2     | mital  |  pirates  |   3    |    1    |
|    3    |    7    |  0.5  |  1   |     2     | mital  |  celtics  |   1    |    1    |
|    3    |    5    |  0.5  |  3   |     2     | mital  |  penguins |   4    |    1    |
+---------+---------+-------+------+-----------+--------+-----------+--------+---------+
[9 rows x 9 columns]

## turi ranking factorization

In [31]:
model = tc.ranking_factorization_recommender.create(sf, 'user_id', 'item_id')

Preparing data set.

    Data has 11 observations with 5 users and 8 items.

    Data prepared in: 0.032393s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| binary_target                  | Assume Binary Targets                            | True     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 11 / 11 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 8.33333           | Not Viable                               |

| 1       | 2.08333           | Not Viable                               |

| 2       | 0.520833          | Not Viable                               |

| 3       | 0.130208          | 0.689978                                 |

| 4       | 0.0651042         | 0.829906                                 |

| 5       | 0.0325521         | 1.05345                                  |

| 6       | 0.016276          | 1.29793                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.130208          | 0.689978                                 |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training Predictive Error | Step Size   |

+---------+--------------+-------------------+-----------------------------------+-------------+

| Initial | 198us        | 1.3864            | 0.69326                           |             |

+---------+--------------+-------------------+-----------------------------------+-------------+

| 1       | 1.229ms      | 2.33455           | 0.915399                          | 0.130208    |

| 2       | 1.824ms      | 2.26004           | 0.400601                          | 0.130208    |

| 3       | 7.089ms      | 0.813764          | 0.24297                           | 0.130208    |

| 4       | 10.013ms     | 0.792706          | 0.155265                          | 0.130208    |

| 5       | 15.034ms     | 0.660987          | 0.238394                          | 0.130208    |

| 10      | 26.366ms     | 0.290906          | 0.0973886                         | 0.130208    |

| 25      | 55.886ms     | 0.089733          | 0.0217387                         | 0.130208    |

+---------+--------------+-------------------+-----------------------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training Predictive Error.

       Final objective value: 0.138929

       Final training Predictive Error: 0.0190039

In [40]:
?model.recommend([1])

In [33]:
model.recommend([1]).join(sf, on=['item_id']).sort('score')

Columns:
	user_id	int
	item_id	int
	score	float
	rank	int
	user_id.1	int
	user	str
	item	str
	rating	int
	rating2	int

Rows: 7

Data:
+---------+---------+---------------------+------+-----------+--------+
| user_id | item_id |        score        | rank | user_id.1 |  user  |
+---------+---------+---------------------+------+-----------+--------+
|    1    |    1    | 0.12696840475751295 |  6   |     0     |  amit  |
|    1    |    0    | 0.13060150292614756 |  5   |     0     |  amit  |
|    1    |    5    | 0.23782044518441509 |  4   |     2     | mital  |
|    1    |    6    | 0.24151852235768734 |  3   |     2     | mital  |
|    1    |    7    |  0.2648532517804524 |  2   |     2     | mital  |
|    1    |    4    |  0.3315815610012338 |  1   |     2     | mital  |
|    1    |    4    |  0.3315815610012338 |  1   |     3     | kaiden |
+---------+---------+---------------------+------+-----------+--------+
+-----------+--------+---------+
|    item   | rating | rating2 |
+-----------+--------+---------+
| sf giants |   3    |    1    |
|  seahawks |   3    |    1    |
|  penguins |   4    |    1    |
|  pirates  |   3    |    1    |
|  celtics  |   1    |    1    |
|  steelers |   5    |    1    |
|  steelers |   5    |    1    |
+-----------+--------+---------+
[7 rows x 9 columns]

In [19]:
sf

Columns:
	user_id	int
	item_id	int
	user	str
	item	str
	rating	int
	rating2	int

Rows: 11

Data:
+---------+---------+--------+-----------+--------+---------+
| user_id | item_id |  user  |    item   | rating | rating2 |
+---------+---------+--------+-----------+--------+---------+
|    0    |    0    |  amit  |  seahawks |   3    |    1    |
|    0    |    1    |  amit  | sf giants |   3    |    1    |
|    0    |    2    |  amit  |  warriors |   3    |    1    |
|    1    |    3    | aryana |  patriots |   3    |    1    |
|    1    |    2    | aryana |  warriors |   5    |    1    |
|    2    |    4    | mital  |  steelers |   5    |    1    |
|    2    |    5    | mital  |  penguins |   4    |    1    |
|    2    |    6    | mital  |  pirates  |   3    |    1    |
|    2    |    7    | mital  |  celtics  |   1    |    1    |
|    3    |    4    | kaiden |  steelers |   5    |    1    |
+---------+---------+--------+-----------+--------+---------+
[11 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.